 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Data Science applied to - Molecular Biology - Electrical Engineering - Optical Engineering</p>
                </div>
                <div class="col-lg-4">
                    <p>Hands on BS Electrical/MS optical engineer with a PhD in molecular biology with an interest to develop data driven designs. I have over 10 years experience designing, testing and analysing data in the manufacturing of regulatory compliant optical and image based medical instrumentation, devices, systems and algorithms from concept, product requirements, risk management, feasibility studies, development, verification and validation to final product launch. Responsible for ensuring regulatory compliance (ISO 13485), design control documentation and prototyping and testing. Strong teamwork and communication skills to effectively manage and guide cross-functional teams.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
